{{ define "main" }}
<h1>tags</h1>
<ul>
  {{ range .Data.Terms.Alphabetical }}
  <li><a href="{{ .Page.Permalink }}">{{ .Page.Title }}</a> {{ .Count }}</li>
  {{ end }}
</ul>

<div class="page-footer"></div>
{{end}}
