<!-- Sidebar navigation -->
<nav>
  {{ partial "header.html" . }}
  <div class="nav-menu">
    {{ range .Site.Menus.main }}
    <a class="color-link nav-link" href="{{ .URL | relLangURL }}">{{ .Name }}</a>
    {{ end }}
    <!-- <a class="color-link nav-link" href="{{ .Site.RSSLink }}" target="_blank" rel="noopener" type="application/rss+xml">rss</a> -->
  </div>
  {{ partial "footer.html" . }}
</nav>
